body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(61, 47, 47);
    color: white;
  }
  
  main {
   
    width: 70%; /* Set the width of the quiz container to 60% of the body */
    margin: 20px auto;
    background-color: rgba(255, 127, 80, 0.3);
    border-radius: 20px;
    padding: 15px 6px;
  }

  #welcome-message{
    margin: 5px auto;
    width: 80%;
  color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #quiz-container {
   width: 75%;
 margin-left: 28px;
   line-height: 1.7;
  }
  
  #result-container {
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  button {
    
    display: block;
  margin-left: auto; /* I will like to have my button at the right edge */
  margin-right: 10px;
    
  }
  
  button:hover {

    background-color: rgb(100, 100, 121);
  }

  
  input[type="radio"] {
    margin-right: 5px;
  }
  